
.App{
  text-align: center;
  .navbar-brand {
    color: white !important;
  }
  .add-icon {
    color: white;
  }
  .bg-light {
    background-color: lightblue !important;
  }
  .card {
    margin: 35px 100px;
    padding: 30px;
  }
  .breadcrumb {
    background-color: transparent;
  }


}
